@import "bootstrap";

html {
    min-height: 100%;
}
body {
    min-height: 100%;
       background: linear-gradient(rgba(255, 255, 255, 0.73),rgba(197, 227, 252, 0.27));
       margin-bottom: 50px;
}

section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
a.code-logo {
  color: white;
  display: inline-block;
  float: left;
}

#exCollapsingNavbar2 > ul {
  font-family: monospace;

  > strong > a.brand-homepage {
    font-size: 1.8em;
    color: rgb(235, 235, 235);
    font-family: monospace;
    float: left;
    padding-left: 10px;
    &:hover {
      color: white;
    }
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8)
}
.navbar-nav .nav-item {
float: right;
}
.title {
  padding: 30px 50px;
}
.nf {
  color: rgb(255, 222, 0) !important;
}
.no {
  color: rgb(2, 190, 105) !important;
}
div.highlight {
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(236, 235, 229, 0.744);
  font-size: 1.2em;
}

.all-public-snippets {
  background-color: #252c41;
  color: rgb(236, 236, 236);
}
.snippets-listing {
  background-color: #dddfe6;
  padding: 35px 0;
}
.snippet-Ruby {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;

}
ul.nav-codes {

}
.nav-pills .nav-item {
  display: inline-block;
  float: none;
}

div.tab-content  {
  margin-top: 15px;
  font-size: 1.25em;
}

#ruby {
  border-radius: 10px;
  background-color: rgba(212, 69, 69, 0.39);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    padding: 10px 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(246, 16, 16, 0.34);
  }
}

#html {
  border-radius: 10px;
  background-color: rgba(175, 255, 158, 0.35);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(68, 240, 85, 0.4);
  }
}

#css {
  border-radius: 10px;
  background-color: rgba(255, 180, 102, 0.4);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(255, 162, 116, 0.4);
  }
}

#javascript {
  border-radius: 10px;
  background-color: rgba(117, 196, 226, 0.19);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(77, 209, 201, 0.27);
  }
}


// NEW SNIPPET
#snippet-code {
font-family: monospace;
}
.create-code {
  // height: 500px;
}

// pagination

nav.pagination {
  font-size: 0.6em;
}

body > main > div:nth-child(2) > nav > ul > li:nth-child(1) > a {
  background-color: rgb(255, 64, 87) !important;
  color: black;
}
body > main > div:nth-child(2) > nav > ul > li:nth-child(2) > a {
  background-color: rgba(0, 201, 14, 0.71) !important;
  color: black
}
body > main > div:nth-child(2) > nav > ul > li:nth-child(3) > a {
  background-color: rgba(254, 129, 0, 0.75) !important;
  color: black;
}
body > main > div:nth-child(2) > nav > ul > li:nth-child(4) > a {
  background-color: rgb(64, 157, 255) !important;
  color: black;
}
