@import "bootstrap";
html {
    overflow-y: scroll;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
a.code-logo {
  color: white;
  display: inline-block;
  float: left;
}
#exCollapsingNavbar2 > ul > strong>a.brand-homepage {
  font-size: 1.5em;
  color: white;
}
.navbar-nav .nav-item {
float: right;
}
.title {
  padding: 30px 50px;
}
.nf {
  color: rgb(255, 222, 0) !important;
}
.no {
  color: rgb(2, 190, 105) !important;
}
div.highlight {
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(236, 235, 229, 0.744);
  font-size: 1.2em;
}

.snippet-Ruby {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  // background-color: rgba(198, 47, 102, 1);
}
ul.nav-codes {

}
.nav-pills .nav-item {
  display: inline-block;
  float: none;
}

div.tab-content  {
  margin-top: 15px;
  font-size: 1.25em;
}

#ruby {
  border-radius: 10px;
  background-color: rgba(198, 47, 102, 0.4);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(199, 0, 125, 0.4);
  }
}

#html {
  border-radius: 10px;
  background-color: rgba(198, 47, 102, 0.4);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(199, 0, 125, 0.4);
  }
}

#css {
  border-radius: 10px;
  background-color: rgba(198, 47, 102, 0.4);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(199, 0, 125, 0.4);
  }
}

#javascript {
  border-radius: 10px;
  background-color: rgba(198, 47, 102, 0.4);
  color: rgb(56, 56, 56);

  div {
    border-radius: 5px;
    a  {
      color: rgb(56, 56, 56);
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  div:nth-child(2n) {
    background-color:rgba(199, 0, 125, 0.4);
  }
}
